<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie Bookie</title>
</head>

<body>
    <h1>All Posts are </h1>
    <% posts.forEach(data=>{ %>

        <div class="card">
            <img src="<%= data.image %>" alt="Avatar" style="width:100%;height:100%">
            <div class="container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
            </div>
        </div>

        <%= JSON.stringify(data) %>
            <hr>
            <% }) %>
</body>

</html>